type Obj{{ capitalize .Name }} struct {
	Obj *v1.ObjectReference
	*Relationships
}

func {{ capitalize .Name }}(id string) *Obj{{ capitalize .Name }} {
	o := &Obj{{ capitalize .Name }}{
		Obj: &v1.ObjectReference{
			ObjectType: "{{ .Name }}",
			ObjectId:   id,
		},
		Relationships: NewRelationships(),
	}
	allObjects = append(allObjects, o)
	return o
}

{{ $outerName := .Name }}
func (obj *Obj{{ capitalize $outerName }}) Type() string {
	return "{{ .Name }}"
}

func (obj *Obj{{ capitalize $outerName }}) Object() *v1.ObjectReference {
	return obj.Obj
}


{{ range $index, $element := .DirectRelations }}
{{ if eq $element.Subject.Object.ObjectId "*" }}
func (obj *Obj{{ capitalize $outerName }}) {{ capitalize $element.RelationName }}Wildcard() *Obj{{ capitalize $outerName }}{
	obj.AddRelation(v1.Relationship{
		Resource: obj.Obj,
		Relation: "{{ $element.RelationName }}",
		Subject: &v1.SubjectReference{
			Object: &v1.ObjectReference {
				ObjectType: "{{ $element.Subject.Object.ObjectType }}",
				ObjectId: "*",
			},
			OptionalRelation: "{{ $element.Subject.OptionalRelation }}",
		},
		OptionalCaveat: nil,
	})
	return obj
}

{{ else }}

func (obj *Obj{{ capitalize $outerName }}) {{ capitalize $element.FunctionName }}(subs ...*Obj{{ capitalize $element.Subject.Object.ObjectType }}) *Obj{{ capitalize $outerName }}{
	for i := range subs {
		sub := subs[i]
		obj.AddRelation(v1.Relationship{
			Resource: obj.Obj,
			Relation: "{{ $element.RelationName }}",
			Subject: &v1.SubjectReference{
				Object: sub.Obj,
				OptionalRelation: "{{ $element.Subject.OptionalRelation }}",
			},
			OptionalCaveat: nil,
		})
	}
	return obj
}
{{ end }}
{{ end }}


{{ range $index, $element := unique .Permissions }}
func (obj *Obj{{ capitalize $outerName }}) Validate{{ $element.FunctionName }}() *Obj{{ capitalize $outerName }} {
	obj.AddValidation(v1.Relationship{
		Resource: obj.Obj,
		Relation: "{{ $element.Permission }}",
		OptionalCaveat: nil,
	})
	return obj
}
{{ end }}


{{ range $index, $element := .Permissions }}
func (obj *Obj{{ capitalize $outerName }}) Can{{ capitalize $element.FunctionName }}By(subs ...ObjectWithRelationships) *Obj{{ capitalize $outerName }}{
	for i := range subs {
		sub := subs[i]
		obj.AssertTrue(v1.Relationship{
			Resource: obj.Obj,
			Relation: "{{ $element.Permission }}",
			Subject: &v1.SubjectReference{
				Object:           sub.Object(),
				OptionalRelation: "",
			},
			OptionalCaveat: nil,
		})
	}
	return obj
}

func (obj *Obj{{ capitalize $outerName }}) Cannot{{ capitalize $element.FunctionName }}By(subs ...ObjectWithRelationships) *Obj{{ capitalize $outerName }}{
	for i := range subs {
		sub := subs[i]
		obj.AssertFalse(v1.Relationship{
			Resource: obj.Obj,
			Relation: "{{ $element.Permission }}",
			Subject: &v1.SubjectReference{
				Object:           sub.Object(),
				OptionalRelation: "",
			},
			OptionalCaveat: nil,
		})
	}
	return obj
}

{{ end }}
